body {

  background-color: #60A2DB;
  background-size: cover;

}
#welc {
  text-align: center;
  font-family: 'Sarina', cursive;
  font-size: 100px;
  color: white;
}

.container {
  height: 500px;
  text-align: center;
  padding: 250px 250px 75x 1000px;
  justify-content: space-between;


}

#blah {
  height: 500px;
  text-align: center;
  padding: 250px 250px 75x 1000px;
  justify-content: space-between;
}


.box {
  color:white;
  width: 600px;
  height: 600px;
  background-color: white;
  border: solid;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Futura', 'serif';
  font-size: 20px;
}



.active {
  visibility: visible;
  opacity: 1;
}

#modal {
  background-color: rgba(0,0,0,0.4);
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
    overflow: auto;
		display: none;
}
#modal-textbox {
		background-color: white;
		height: 350px;
		width: 550px;
		border-radius: 2px;
		margin: 150px auto;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		padding: 2%;
		line-height: 120%;
	}
  #modal-footer {
		text-align: right;
	}

  #navi {
    height: 100px;
  }


.modal-buttons {
		padding: 14px 18px;
		background-color: #677996;
		border: none;
		outline: none;
		border-radius: 3px;
		color: white;
		font-family: 'Arial';
		cursor: pointer;
	}
/* this didn't work */
.social-icon {

  /* margin-left: 40%;
  margin-top: 10%; */
  display: flex;
  flex-direction: row;

}
